footer{
    background-color: rgb(169, 77, 40);
    padding: 10px 0 4px 0;
    text-align: center;
    width: 100%;
}

footer a {
    color: black;
    display: inline-block;
    padding: 8px;
    text-decoration: none;
}

footer a:hover {
    background-color: black;
    color: white;
}

footer a:focus {
    background-color: black;
    color: white;
    outline: none;
}

footer img {
    height: 23px;
    margin-left: 3px;
    vertical-align: text-bottom;
}
