/* Mobile First View */
header {
    background-color: rgb(169, 77, 40);
    overflow: hidden;
}

h1 {
    color: beige;
    float: left;
    padding: 0 20px;
    text-align: center;
    width: 100%;
}

#hamburger_checkbox {
    display: none;
}

#hamburger_image {
    background-color: beige;
    display: block;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 10%;
}

/* Show or hide the menu */
#hamburger_checkbox:not(:checked) *nav {
    display: none;
}

nav a {
    color: beige;
    float: left;
    font-size: 17px;
    padding: 30px 20px;
    text-align:center;
    text-decoration: none;
    width: 100%;
}

/* Invert colors on mouse hover */
nav a:hover {
    background-color: white;
    color: black;
}

/* Invert colors on tab key focus */
nav a:focus {
    background-color: white;
    color: black;
    outline: none;
}

/* Highlight the current link */
.active_nav {
    background-color: #65829a;
    color: white;
}



/* Medium devices (landscope tablets, 768px and up) */
 @media only screen and (min-width:760px){
   
   /* Hide the hamburger menu */
    #hamburger_image {
        display: none;
    }
 
   /* Show the nav links */
    #hamburger_checkbox:not(:checked) * nav {
        display: block;
    }

    h1 {
        text-align: left;
        width: 360px;
    }

    nav {
        float: right;
    }

    nav a {
        width: auto;
    }

}