/* Mobile First View */
header {
    background-color: black;
    overflow: hidden;
}

h1 {
    color: white;
    float: left;
    padding: 0 20px;
    text-align: center;
    width: 100%;
}

#hamburger_checkbox{
    display: none;
}

#hamburger_image{
    background-color: white;
    display: block;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 10%;
}

#hamburger_checkbox:not(:checked) *nav{
    display: none;
}

nav a {
    color: white;
    float: left;
    font-size: 17px;
    padding: 30px 20px;
    text-align:center;
    text-decoration: none;
    width: 100%;
}

nav a:hover {
    background-color: white;
    color: black;
}

nav a:focus {
    background-color: white;
    color: black;
    outline: none;
}

